@model CoffeeHome.Models.MaquinaCafe



    <div class="wizard-header text-center">
        <br><br> <h2 style="color:#0fad00">Pedido efetuado com sucesso!</h2>

        <p class="category">Agradecemos a preferência.</p>
    </div>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Café escolhido: @Model.Descricao</h4>
    <p>Valor do item: R$ @Model.ValorCafe</p>
    <p>Valor pago: R$ @Model.ValorAceito </p>
    <hr>
    <p class="mb-0">Troco: R$ @Model.Troco</p>
</div>
<br />

<a asp-action="Index" class="btn  btn-success">Fazer um novo pedido?</a>
